footer {
  color: #c2c2c2;
  background-color: black;
  min-width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  margin-top: 27px;
  padding-bottom: 48px;
}

@media screen and (min-width: 1000px) {
  footer {
    text-align: left;
    padding-left: 20px;
  } 
}