footer {
  color: #c2c2c2;
  background-color: black;
  position: absolute;
  bottom: 50px;
  min-width: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}